[Desktop Entry]
Encoding=UTF-8
Name=Meconcash
Comment=Core wallet for Meconcash P2P Cryptocurrency
Comment[de]=Offizieller Client für die Kryptowährung Meconcash
Exec=/usr/bin/meconcash-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/meconcash.png
MimeType=x-scheme-handler/meconcash;
Categories=Application;Network;
